<div id="content_area" class="col-xs-12">
	<div class="container">
		<div class="site-list col-xs-12 col-md-3 col-lg-2 col-lg-offset-1">
			<ul class="no-pad">
				<li class="title">Choose a site</li>
				<div class="col-xs-12 col-sm-4 col-md-12 no-pad">
					<li><a class="link" href="#to-desktop">AutoTopsDirect</a></li>
					<li><a class="link" href="#to-desktop">ComerfordCollection</a></li>
					<li><a class="link" href="#to-desktop">DesignerLinesDirect</a></li>
					<li><a class="link" href="#to-desktop">JaniSource</a></li>
					<li><a class="link" href="#to-desktop">JBriggsAndCo</a></li>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-12 no-pad">
					<li><a class="link" href="#to-desktop">Rizort</a></li>
					<li><a class="link" href="#to-desktop">SignalTestInc</a></li>
					<li><a class="link" href="#to-desktop">WholesaleStockroom</a></li>
					<li><a class="link" href="#to-desktop">YourDuplicatorSource</a></li>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-12 no-pad">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-12 no-pad">
					<li>
						<a class="device-views desktop-icon" href="#to-desktop"></a>
						<a class="device-views tablet-icon" href="#to-tablet"></a>
						<a class="device-views mobile-icon" href="#to-mobile"></a>
					</li>
				</div>
			</ul>
		</div>
		<div class="device-wrapper col-xs-12 col-md-9"
			<!-- DESKTOP -->
			<a name="to-desktop"></a>
			<div class="device desktop col-xs-12">
				<div class="desktop-screen-container">
					<div id="desktop-screen" class="desktop-screen">
						<!-- AutoTopsDirect -->
						<img class="proof" src="{{site-path}}images/proofs/AutoTopsDirect/desktop.jpg">
					</div>
				</div>
				<!-- DEVICE GRAPHIC -->
				<img id="desktop-image" class="img-responsive" src="{{site-path}}images/desktop.jpg">
			</div>
		</div>
		<div class="device-wrapper col-xs-12 col-lg-9 col-lg-offset-3">
			<!-- TABLET -->
			<a name="to-tablet"></a>
			<div class="device tablet col-xs-12 col-sm-8 col-lg-7">
				<div class="tablet-screen-container">
					<div id="tablet-screen" class="tablet-screen">
						<!-- AutoTopsDirect -->
						<img class="proof" src="{{site-path}}images/proofs/AutoTopsDirect/tablet.jpg">
					</div>
				</div>
				<!-- DEVICE GRAPHIC -->
				<img id="tablet-image" class="img-responsive" src="{{site-path}}images/tablet.jpg">
			</div>
			<!-- MOBILE -->
			<a name="to-mobile"></a>
			<div class="device mobile col-xs-12 col-sm-4 col-lg-5">
				<div class="mobile-screen-container">
					<div id="mobile-screen" class="mobile-screen">
						<!-- AutoTopsDirect -->
						<img class="proof" src="{{site-path}}images/proofs/AutoTopsDirect/mobile.jpg">
					</div>
				</div>
				<!-- DEVICE GRAPHIC -->
				<img id="mobile-image" class="img-responsive" src="{{site-path}}images/mobile.jpg">
			</div>
		</div>
	</div>
</div>